.section__map {
    padding: 180px 0px;
    position: relative;

    &::before {
        right: calc(50% + 555px);
        transform: translate(50%, 0%);

        content: "V";
        line-height: 1.2;

        @include decorNumbers;
        top: 160px;
    }
}

.section__map__title {
    margin-bottom: 88px;
}

.section__map__map {
}

.map {
    background: #626262;
    height: 358px;
}